@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.filter-img{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%) contrast(103%);
}
.h-119{
  height: 1190px;
}
.bg-curtain{
  background-color: rgba(0, 0, 0, 0.05);
}
.bg-curtain a:hover, .bg-curtain a:hover .filter-img{
  color: black;
  text-decoration: underline;
  filter: brightness(0%);
}
.container{
  max-width: 1213px;
  margin: auto;
  padding: 10px;
}
.bgblack:focus{
  outline: none;
}
.swiper-wrapper{
  overflow-x: ;
}